/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/bootstrap/scss/bootstrap.scss";
// @import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #f7f8fa;
}
a {
  text-decoration: none;
  color: #647787;
}
// HEADER
.navbar-brand {
  color: #1875f0;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.navbar {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  object-fit: fill;
  justify-content: center;
  z-index: 10;
  align-items: center;
  background-color: #ffffff !important;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
  padding: 10px;
}
.nav-link {
  color: #647787;
  position: relative;
}
.profile-img-sm {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: middle;
}
.input-group-text {
  background-color: #fff !important;
  align-items: center;
  align-content: center;
  border: none;
  margin: 0;
  padding: 0%;
}
.profile-lg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-bar {
  border: none !important;
  box-shadow: none !important;
  text-transform: capitalize;
}

.search-bar::placeholder {
  color: #647787;
  opacity: 1;
}
.bell-info {
  position: absolute;
  box-sizing: border-box;
  background-color: #1875f0;
  top: -0rem;
  min-width: 1rem;
  line-height: 1rem;
  text-align: center;
  font-size: 70%;
  border-radius: 50%;
  color: #ffffff;
}

// SIDEBAR
.sidebar {
  position: fixed;
  width: 280px;
  height: 100vh;
  padding-top: 5rem;
  background-color: #ffffff;
  color: #647787;
  z-index: 9;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
  left: 0;
  top: 0;
  transition: all 0.2s ease;
  font-size: 80%;
}
.sidebar-nav {
  overflow-y: auto;
  overflow-x: hidden;
}
.nav-list {
  padding: 0;
  list-style-type: none;
}
.nav-list .nav-list-item {
  padding-left: 1.8rem;
  position: relative;
}

.nav-list h6 {
  padding-left: 2rem;
}

.nav-list li:hover {
  background-color: rgba(24, 117, 240, 0.102) !important;
}
.nav-link-active {
  border-left: 0.3rem solid #1875f0;
  background-color: rgba(24, 117, 240, 0.102) !important;
}

// OVERVIEW CARD
.overview-card {
  padding: 1rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.overview-card .card-title {
  font-size: 70%;
  color: #647787;
}
.overview-card .card-price {
  font-weight: 200;
}
.overview-status .card {
  border: none !important;
  padding: 15px;
  font-size: small;
}
.overview-status .card-header {
  background-color: #ffffff;
}
.chart-gradient-1 {
  background-image: linear-gradient(90deg, #27ae60 60%, #fdc203 0);
  height: 3px;
}
.chart-gradient-2 {
  background-image: linear-gradient(90deg, #27ae60 80%, #fdc203 0);
  height: 3px;
}
.bg-transparent {
  background-color: transparent !important;
}
.bg-transparent::placeholder {
  font-size: 0.67rem;
}

.table {
  background: #ffffff !important;
  width: 100%;
  text-align: left;
  min-height: 200px !important;
  margin: 0;
  // border: 1px solid #70707014;
  tbody > tr > td,
  thead > tr > th {
    padding: 12px 20px !important;
  }

  :not(caption) > tr > th {
    margin-bottom: 10px;
    background: #eaeef0;
    color: #7f8fa4;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    border: none !important;
    border-width: none !important;
    white-space: nowrap;
  }
  :not(caption) > tr > td {
    padding: 12px;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    vertical-align: middle;
    background: #fff;
    color: #4d4f5c;
  }
  tfoot > tr > td {
    background: #f4f4f499;
  }
  :not(caption) > tr:hover {
    background: #eaeef0;
  }
}
.table > :not(:first-child) {
  border-top: none;
}
.table > :not(caption) > tr:last-child {
  border-bottom-style: hidden;
}
.table .status {
  border: 1px solid #d2d7da;
  width: 150px !important;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="text"]:disabled {
  background: transparent;
}

@media screen and (max-width: 991px) {
  .profile-lg {
    display: none;
  }
  .sidebar {
    transform: translateX(-100%);
  }
  .profile-lg {
    font-size: small;
  }
}

// @media screen and (max-width: 1024px) {
//   .profile-lg {
//     font-size: small;
//   }
// }
